<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
<typeAliases>
		<typeAlias type="com.shop.domain.CategoryVO" alias="CategoryVO" />
		<typeAlias type="com.shop.domain.GoodsVO" alias="GoodsVO" />
		<typeAlias type="com.shop.domain.MemberVO" alias="MemberVO" />
		<typeAlias type="com.shop.domain.ReviewVO" alias="ReviewVO" />
		<typeAlias type="com.shop.domain.CartVO" alias="CartVO" />
	</typeAliases>

</configuration>